@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/variables";
@import "./node_modules/bootstrap/scss/mixins";

// Body Styling
$body-bg: #f8f8fb;
$body-color: #000000;
$header-color: #fff;
$container-bg: #fff;
$btn-txt-color: white;

// Color System:
$white: #fff;
$blue: #3258f2;
$lightBlue: #a0eade;
$cambridgeBlue: #bfd2bf;
$orange: #f2545b;
$red: #a93f55;
$purple: #a855f7;
$green: #646f4b;

$colors: (
  "blue": $blue,
  "orange": $orange,
  "red": $red,
  "purple": $purple,
  "lightBlue": $lightBlue,
  "cambridgeBlue": $cambridgeBlue,
  "green": $green,
);

// Variants
$primary: $purple;
$secondary: $lightBlue;
$success: $green;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
);

$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");

$container-padding: 24px;
$sidebar-width: 250px;
$sidebar-width-collapsed: 90px;
$link-color: $primary;
$border-color: #e9ecef;
.dark {
  $container-bg: #111c44;
  $bg-body: #0f172a;
  $link-color: white;
  $text-color: white;
  $secondary: #111111;
  $success: #222222;
  $dark: #000;
  $body-color: white;
  $btn-txt-color: black;

  $theme-colors: (
    "secondary": $secondary,
    "success": $success,
    "danger": $danger,
    "info": $indigo,
    "dark": $dark,
    "light": $light,
  );

  /* redefine theme color variables */
  @each $color, $value in $theme-colors {
    --#{$variable-prefix}#{$color}: #{$value};
  }

  /* redefine theme color rgb vars (used for bg- colors) */
  $theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");
  @each $color, $value in $theme-colors-rgb {
    --#{$variable-prefix}#{$color}-rgb: #{$value};
  }

  $body-color: #ffff;
  $card-bg: #111c44;
  $body-bg: #0f172a;
  $container-bg: #111c44;
  $link-color: $white;

  --#{$variable-prefix}body-color: #{$body-color};
  --#{$variable-prefix}body-bg: #{$body-bg};
  --#{$variable-prefix}link-color: #{$link-color};
  --#{$variable-prefix}container-bg: #{$container-bg};

  @import "./node_modules/bootstrap/scss/bootstrap";
}

@import "./node_modules/bootstrap/scss/bootstrap";
